.wrapper {
    position: absolute;
    left: 0; /* Buttons aligned on the left */
    top: 75%; /* Buttons down */
    display: flex;
    gap: 1.25rem;
}

.button {
  background: none;
  font-size: 0.7rem; 
  color: rgb(170, 170, 170);
  cursor: pointer;
  padding: 0;
  border: none;

&:hover,
&:focus {
  color: #9a2fb3; 
  outline: none; 
}

&:active {
  color: #9a2fb3; 
  transform: scale(0.9); /* Press effect */
}

}

.button span {
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1); /* Add a shadow */
}