.songItem {
    display: flex;  /* Items appear in a row */
    align-items: center; /* All items are aligned vertically */
    position: relative;
    font-size: 1rem;
    gap: 1rem; /* Space between items */
    padding: 0.8rem;
    border-bottom: 0.05rem solid #dad9d9;
    
    img {
        width: 2.2rem;
        height: 2.2rem;
    }
  }
