
@mixin h1Text($fontSize: 1.25rem) { // Set default to 1.25
    font-size: $fontSize;  
  
    @media (min-width: 768px) {
      font-size: $fontSize + 0.25rem; // Dynamic size for larger screens
    }
  }

@mixin button($fontSize, $color, $backgroundColor, $scale) {

    font-size: $fontSize;
    color: $color;
    background-color: $backgroundColor;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.4s ease-in-out, transform 0.3s;
    padding: 0;
    line-height: 1; /* Icon is centered */
    border: none; 
  
  &:hover,
  &:focus {  
    color: #9a2fb3;
    outline: none; /* No blue outline on focus */
  }
  &:active {
    transform: scale($scale); /* Press effect */
  }
  
}





